<a href="https://colab.research.google.com/github/mirjunaid26/datascientist/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Brush Up Python Programming**

[Source: Learn Python](https://www.learnpython.org/en/Loops)

## **Loops**

**There are two types of loops in Python, for and while.**

'For' loops iterate over a given sequence. Here are some examples:

In [1]:
primes = [2, 3, 5, 7]
for prime in primes:
  print(prime)

2
3
5
7

In [3]:
for x in range(5):
  print(x)

0
1
2
3
4

In [5]:
for x in range(3, 6):
  print(x)

3
4
5

In [9]:
for x in range(3, 8, 2):
  print(x)

3
5
7

In [10]:

for x in range(3, 8, 3):
  print(x)

3
6

In [11]:

for x in range(3, 8, 1):
  print(x)

3
4
5
6
7

'While' loops repeat as long as a certain boolean condition is met. For example:

In [12]:
count = 0
while count < 5:
  print(count)
  count += 1 # This is same as count = count +1

0
1
2
3
4

**"break" and "continue" statements**

break is used to exit a for loop or a while loop, whereas continue is used to skip the current block, and return to the "for" or "while" statement. A few examples:

In [13]:
count = 0
while True:
  print(count)
  count += 1
  if count >= 5:
    break

0
1
2
3
4

In [14]:
for x in range(10):
  if x%2 == 0:
    continue
  print(x)

1
3
5
7
9

**Can we use "else" clause for loops?**

Unlike languages like C,CPP.. we can use else for loops. When the loop condition of "for" or "while" statement fails then code part in "else" is executed. If a break statement is executed inside the for loop then the "else" part is skipped. Note that the "else" part is executed even if there is a continue statement. Here are a few examples:

In [15]:
count=0
while(count<5):
  print(count)
  count += 1
else:
  print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [18]:
for i in range(1, 10):
  if(i%5==0):
    break
  print(i)
else:
  print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4

**Exercise**

Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.

In [2]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]


for number in numbers:
  
    if number == 237:
      break
    
    if number % 2 == 1:
      continue

    print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

**Functions**

Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time. Also functions are a key way to define interfaces so programmers can share their code.

Functions in python are defined using the block keyword "def", followed with the function's name as the block's name. For example:

In [5]:
def my_function():
  print("Hello From My Function!")

def my_function_with_args(username, greeting):
  print("Hello, %s. From My Function!, I wish you %s"%(username, greeting))

def sum_two_numbers(a, b):
  return(a + b)

In [6]:

my_function()

Hello From My Function!

In [7]:
my_function_with_args("John Doe", "a great year!")

Hello, John Doe. From My Function!, I wish you a great year!

In [8]:
sum_two_numbers(2, 3)

5

In [16]:
def list_benefits():
  return "More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"

def build_sentence(benefit):
  return "%s is a benefit of functions!" % benefit

def name_the_benefits_of_functions():
  list_of_benefits = list_benefits()
  for benefit in list_of_benefits:
    print(build_sentence(benefit))

name_the_benefits_of_functions()

More organized code is a benefit of functions!
More readable code is a benefit of functions!
Easier code reuse is a benefit of functions!
Allowing programmers to share and connect code together is a benefit of functions!